
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">

      </ion-buttons>
    <ion-title>Done Items</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Todo: Complete Button setzt done auf true, zweite Liste in side bar verlinken welche abgeschlossene items wiederherstellen kann-->

<ion-content>

  <ion-card *ngFor="let item of items" class="ion-margin">
    <ion-card-header>
      <ion-item>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>
          {{item.name}}
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        {{item.date | date:'fullDate'}}
      </ion-label>
    </ion-card-content>
    <ion-row>
      <ion-item button (click)="recoverItem(item)">
        <ion-icon name="reload-outline"></ion-icon>
        <p>Recover</p>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item button (click)="deleteItem(item.id)">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Delete</p>
      </ion-item>
    </ion-row>
  </ion-card> 


</ion-content> 



